@font-face {
  font-family: 'SEGOEUI';
  src: url('../public/fonts/SEGOEUI.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #EFF2F6;
  font-family: SEGOEUI;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
